body{
    background: lightcoral;
}

.grid-container {
    display: grid;
    width:50%;
    grid-template-columns:  auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap:50px; 


}

.grid-item{
  border: 1px solid black;
   

}

